<!-- ADMIN UI -->
<div class="a-wrapper">
	<div class="a-menu-wrapper">
		<div class="a-menu">
			<div class="header"><img width="100%" ng-src="images/poseidon.png" /></div>
      <div class="header" ng-if="rights.can_admin_logic || rights.can_admin_modbus">
				<div class="tooltip" ng-if="rights.can_admin_backup">
					<span class="tooltiptext4">Download</span>
					<div class="logic-icon clickable" ng-click="download()" ng-include="'images/menuicons/download.svg'"
						ng-class="{'disabled': ['Wiki', 'Admin'].indexOf(currentPage) != -1}"
					></div>
				</div>
				<div class="tooltip" ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus'].indexOf(currentPage) != -1)">
					<span class="tooltiptext4">Upload</span>
					<div class="logic-icon clickable" ng-click="upload()" ng-include="'images/menuicons/upload.svg'"
						ng-class="{'disabled': !logicValid}"
					></div>
				</div>
				<div class="tooltip" ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus'].indexOf(currentPage) == -1)">
					<span class="tooltiptext4">Upload</span>
					<div class="logic-icon clickable" ng-click="upload()" ng-include="'images/menuicons/upload.svg'"
						ng-class="{'disabled': (['Wiki', 'Admin'].indexOf(currentPage) != -1)}"
					></div>
				</div>
				<div class="tooltip" ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus', 'Urls'].indexOf(currentPage) != -1)">
					<span class="tooltiptext4">New</span>
          <div class="logic-icon clickable" ng-click="newContent()" ng-include="'images/menuicons/new.svg'"></div>
        </div>
        <div class="tooltip" ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus', 'Urls'].indexOf(currentPage) == -1)">
					<span class="tooltiptext4">New</span>
          <div class="logic-icon disabled" ng-include="'images/menuicons/new.svg'"></div>
        </div>
				<form ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus'].indexOf(currentPage) != -1)">
					<div class="tooltip" onclick="$('#appContent').click()">
						<span class="tooltiptext4">Open</span>
						<div class="logic-icon clickable" ng-include="'images/menuicons/open.svg'"></div>
					</div>
					<input type="file" id="appContent" name="appContent" accept="application/json" onchange="angular.element(this).scope().openContent(this)" />
				</form>
				<div class="tooltip" ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus'].indexOf(currentPage) == -1)">
					<span class="tooltiptext4">Open</span>
					<div class="logic-icon disabled" ng-include="'images/menuicons/open.svg'"></div>
				</div>
				<div class="tooltip">
					<span class="tooltiptext4">Check<br />logics</span>
					<div class="logic-icon clickable" ng-click="checkLogics()" ng-include="'images/menuicons/check-circle.svg'"
					ng-class="{'disabled': !rights.can_admin_backup || (['Alarms', 'Logics', 'Modbus'].indexOf(currentPage) == -1)}"></div>
				</div>
        <div class="tooltip" ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus'].indexOf(currentPage) != -1)">
					<span class="tooltiptext4">Save</span>
          <div class="logic-icon clickable" ng-click="saveContent()" ng-include="'images/menuicons/save.svg'"
						ng-class="{'disabled': !logicValid}" ></div>
        </div>
        <div class="tooltip" ng-if="rights.can_admin_backup && (['Alarms', 'Logics', 'Modbus'].indexOf(currentPage) == -1)">
					<span class="tooltiptext4">Save</span>
          <div class="logic-icon disabled" ng-include="'images/menuicons/save.svg'"></div>
        </div>
      </div>
      <div ng-repeat="item in menus" ng-class="{'active': item.name == currentPage}" class="a-menu-item"
				ng-if="(access == levels.admin) || (item.access != levels.admin)"
				ng-mousedown="mouseDownHandler($event, selectPage, item.name)" ng-touchstart="touchStartHandler($event, selectPage, item.name)">
        <span>{{item.menu}}</span>
      </div>
      <div class="a-menu-item disabled" ng-if="access == levels.admin">
        <span>Admin Mode</span>
      </div>
    </div>
  </div>
  <div class="a-main-wrapper">
    <div class="a-main">
      <div class="a-main-header">
        <h1>{{menus[currentPage].title}}</h1>
      </div>
      <div class="a-main-content" ng-repeat="(key, val) in menus" ng-show="currentPage == key" ng-include="'admin/'+val.template" onload="switched()">
				{{key}} {{val}}
      </div>
    </div>
  </div>
</div>
<div ng-include="'admin/alarmGroup.html'"></div>
<div ng-include="'admin/alarmZone.html'"></div>
<div ng-include="'admin/sounder.html'"></div>
<div ng-include="'admin/script.html'"></div>
<div ng-include="'admin/alarm.html'"></div>
<div ng-include="'admin/device.html'"></div>
<div ng-include="'admin/deviceField.html'"></div>
<div ng-include="'admin/interface.html'"></div>
<div ng-include="'admin/interfaceStation.html'"></div>
<div ng-include="'admin/url.html'"></div>
