<!-- URLS COMMON -->
<div class="logic-wrapper">
  <div class="a-tab-content">
    <div style="flex: 0 0 30vw; max-height: 93vh;">
      <div class="a-defi-wrapper">
        <div class="a-defi-content group">
          <div class="header">URL definitions</div>
          <div class="content">
            <div class="a-alarm-table">
              <table class="a-table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th class="full">URL</th>
                    <th class="center">Direct</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="u in urls track by $index" ng-click="setUrl(u)" ng-class="{'selected': url.current.id == u.id}">
                    <td>{{u.title}}</td>
                    <td class="full">{{u.url}}</td>
                    <td class="center" ng-click="$event.stopPropagation()">
                      <div class="checkbox">
                        <input id="{{'url-direct' + $index}}" type="checkbox" ng-change="setDirect($index)" ng-model="urls[$index].direct" ng-true-value="true" ng-false-value="false" />
                        <label for="{{'url-direct' + $index}}"></label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="footer" ng-if="rights.can_admin_urls && (url.action == null)">
            <div class="tooltip">
              <span class="tooltiptext4">Add URL</span>
              <div class="logic-icon clickable" ng-click="addUrl()" ng-include="'images/menuicons/plus-circle.svg'"></div>
            </div>
            <div class="tooltip" ng-if="url.current != null">
              <span class="tooltiptext4">Edit url</span>
              <div class="logic-icon clickable" ng-click="editUrl()" ng-include="'images/menuicons/edit.svg'"></div>
            </div>
            <div class="tooltip" ng-if="url.current != null">
              <span class="tooltiptext4">Delete url</span>
              <div class="logic-icon clickable" ng-click="deleteUrl()" ng-include="'images/menuicons/minus-circle.svg'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="flex: 1 1 auto">
      <div class="a-defi-wrapper">
        <div class="a-defi-content group" style="flex: 1 1 auto">
          <div class="header">Preview</div>
          <div class="content" ng-if="(url.action == null) && (url.current != null)">
						<iframe class="url-content" src="{{url.trusted}}" title="Preview window" frameborder="0" iframe-load>
						</iframe>
          </div>
          <div class="footer" ng-if="(url.action == null) && (url.current != null)">
					</div>
        </div>
      </div>
    </div>
  </div>
</div>
