<!-- SETTINGS -->
<div class="logic-wrapper">
  <div class="a-tab-content">
    <div class="settings-container">
			<div class="settings-content">
				<table class="settings-table">
					<tbody>
						<tr>
							<td>Alarm export</td>
							<td>
								<div class="checkbox">
									<input id="alarmexport" type="checkbox" ng-model="settings.alarm_export" ng-true-value="true" ng-false-value="false" />
									<label for="alarmexport"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Logic export</td>
							<td>
								<div class="checkbox">
									<input id="logicexport" type="checkbox" ng-model="settings.logic_export" ng-true-value="true" ng-false-value="false" />
									<label for="logicexport"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Modbus export</td>
							<td>
								<div class="checkbox">
									<input id="modbusexport" type="checkbox" ng-model="settings.modbus_export" ng-true-value="true" ng-false-value="false" />
									<label for="modbusexport"></label>
								</div>
							</td>
					</tbody>
				</table>
			</div>
		</div>
  </div>
</div>
